{% extends 'users/user_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans 'page_edit_profile_title' %}
{% endblock title %}

{% block profile_edit_link_active %} active {% endblock profile_edit_link_active %}

{% block content %}

<form 
id="edit-form" 
method="post" 
action="{% url 'users:profile_update' user.username %}" 
novalidate
>

{% csrf_token %}

<div>
{{ form.non_field_errors }}
</div>

<div class="field">

<label class="label" for="about">
{{ form.about.label }}
</label>

<div class="control">
{% render_field form.about class+="textarea" rows="4" %}
</div>

<div id="{{ form.about.auto_id }}-errors" class="errors">
{{ form.about.errors }}
</div>

</div>

<div class="field">

<label class="label" for="avatar_url">
{{ form.avatar_url.label }}
</label>

<div class="control">
{% render_field form.avatar_url class+="input" %}
</div>

<div id="{{ form.about.avatar_url_id }}-errors" class="errors">
{{ form.avatar_url.errors }}
</div>

</div>

</form>

<div class="form-buttons">

<button id="submit-btn" class="button is-info" type="submit" form="edit-form">
{% trans 'label_update' %}
</button>

</div>
{% endblock content %}
