{% load i18n %}
{% load widget_tweaks %}

<div id="__all__-errors" class="errors">
{{ form.non_field_errors }}
</div>

<div class="field">

<label class="label" for="publish_status">
{{ form.publish_status.label }}
</label>

<div class="control select">
{% render_field form.publish_status class+="select" %}
</div>

<div id="{{ form.publish_status.auto_id }}-errors" class="errors">
{{ form.publish_status.errors }}
</div>

</div>

<div class="field">

<label class="label" for="name">
{{ form.name.label }}
</label>

<div class="control">
{% render_field form.name class+="input" %}
</div>

<div id="{{ form.name.auto_id }}-errors" class="errors">
{{ form.name.errors }}
</div>

</div>

<div class="field">

<label class="label" for="description">
{{ form.description.label }}
</label>

<div class="control">
{% render_field form.description class+="textarea" rows="2" %}
</div>

<div id="{{ form.description.auto_id }}-errors" class="errors">
{{ form.description.errors }}
</div>

</div>