{% extends "base.html" %}
{% load i18n %}

{% block title %}

{% trans "page_home_title" %}

{% endblock title %}

{% block home_link_active %}is-active{% endblock home_link_active %}

{% block full_width_sections %}
<section id="intro" class="parallax-block intro">

<div class="columns">
<div class="column">

<div class="parallax-body">

<h1 class="is-size-1 is-size-2-mobile"> {{ project_name }} </h1>

<h2 class="is-size-3 is-size-4-mobile">
{% trans "msg_project_desc" %}
</h2>

</div>

</div>
</div>

</section>

<div class="page-sections">

<section class="section page-section icon-blocks">

<div class="columns">
<div class="column is-10 is-offset-1">

<h2 class="page-section-header">{% trans "msg_project_at_a_glance" %}</h2>

<div class="columns is-multiline">

<div class="column is-6 icon-block">

<header class="icon-block-header">
<i class="fas fa-language icon-block-icon"></i>
<h3>{% trans "msg_block_1" %}</h3>
</header>

<p>
{% trans "msg_block_1_desc" %}
</p>

</div>

<div class="column is-6 icon-block">

<i class="fab fa-markdown icon-block-icon"></i>

<header class="icon-block-header">
<h3>{% trans "msg_block_2" %}</h3>
</header>

<p>
{% trans "msg_block_2_desc" %}
</p>

</div>

</div>

</div>
</div>

</section>
</div>
{% endblock full_width_sections %}

{% block content %}
{% endblock content %}

