{% extends "includes/_modal.html" %}
{% load i18n %}

{% block modal_classes %}confirmation-modal{% endblock modal_classes %}

{% block modal_footer %}

<span class="confirmation-buttons">

<a 
href="#"
id="{% block cancel_id %}{% endblock cancel_id %}"
class="button"
@click.prevent="close"
>
{% trans "label_no" %}
</a>

<button
id="{% block ok_id %}{% endblock ok_id %}" 
class="button is-danger"
@click.prevent="confirm"
>
{% trans "label_yes" %}
</button>

</span>

{% endblock modal_footer %}

