{% extends "users/user_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans "page_change_password_title" %}
{% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block sidebar %}{% endblock sidebar %}

{% block content %}
<div class="centerall">

<div class="columns is-multiline">

<div class="column is-12 has-text-centered">

<a href="{% url 'app:home' %}">
<img src="{% static 'images/cfs-logo-header.png' %}" class="header-logo" alt="logo">
</a>

<h2 class="is-size-3">{% trans "msg_change_password" %}</h2>

</div>

<div class="column is-12">

<form id="user-password-reset-form" method="post" novalidate>
{% csrf_token %}

{{ form.non_field_errors }}

<div class="field">
<div class="control">
{% trans "placeholder_password1" as placeholder_password1 %}
{% render_field form.password1 class+="input" placeholder+=placeholder_password1 %}
</div>

{{ form.password1.errors }}
</div>

<div class="field">
<div class="control">
{% trans "placeholder_password2" as placeholder_password2 %}
{% render_field form.password2 class+="input" placeholder+=placeholder_password2 %}
</div>

{{ form.password2.errors }}
</div>

<button id="register-user-submit" class="button is-primary" type="submit">
{% trans "label_change_password" %}
</button>

</form>

</div>
</div>

</div>
{% endblock content %}
