{% extends "includes/vue/_search.html" %}
{% load core_extras %}
{% load i18n %}

{% block aliases %}

{% if not comp_name %}{% alias "language-search" as comp_name %}{% endif %}
{% if not search_language %}{% alias "en" as search_language %}{% endif %}
{% if not search_url %}{% alias "/search/" as search_url %}{% endif %}
{% if not autocomplete_url %}{% alias "/autocomplete/zz/" as autocomplete_url %}{% endif %}
{% if not comp_extra %}{% alias "" as comp_extra %}{% endif %}

{% endblock aliases %}

{% block control_addons %}

<div class="control">
<dropdown
id="search-language"
dropdown-classes="is-right"
@toggle="isOpen = false"
>

<template slot="dropdown-label">
<span class="text-bold" style="width: 20px;">[[ language ]]</span>
</template>

<template slot="dropdown-content">

{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}

  <a
  href="#" 
  id="search-language-{{ language.code }}"
  class="dropdown-item"
  @click.prevent="setLanguage('{{ language.code }}')"
  >
  {{ language.name_translated }}
  </a>

{% endfor %}

</template>

</dropdown>
</div>

{{ block.super }}

{% endblock control_addons %}
